@if (order(); as orderData) {
    <div class="max-w-5xl mx-auto px-6 py-10">
    <a routerLink="/orders" class="inline-flex items-center gap-2 text-purple-600 hover:underline mb-8">
        ← Back to My Orders
    </a>

    <div class="bg-white rounded-3xl shadow-sm p-8">
        
        <!-- Order Header -->
        <div class="flex justify-between items-start border-b pb-6 mb-8">
        <div>
            <p class="text-sm text-gray-500">Order ID</p>
            <p class="text-3xl font-bold">#{{ orderData.snowflakeId }}</p>
        </div>
        <div class="text-right">
            <p class="text-sm text-gray-500">Order Date</p>
            <p class="font-medium">{{ orderData.createdAt | date:'yyyy-MM-dd HH:mm' }}</p>
        </div>
        <div>
            <span [class]="getStatusClass(orderData.status)" class="px-6 py-2 rounded-full text-sm font-medium">
            {{ orderData.status | orderstatusName }}
            </span>
        </div>
        </div>

        <!-- Shipping Info -->
        <div class="mb-10">
        <h3 class="font-semibold text-lg mb-4">Shipping Infro</h3>
        <div class="bg-gray-50 p-6 rounded-2xl">
            <p><strong>Receiver：</strong> {{ orderData.fullName }}</p>
            <p><strong>Phone：</strong> {{ orderData.phone }}</p>
            <p><strong>Address：</strong> {{ orderData.address }}</p>
            @if (orderData.remark) {
            <p><strong>Remrak：</strong> {{ orderData.remark }}</p>
            }
        </div>
        </div>

        <!-- Order Items -->
        <h3 class="font-semibold text-lg mb-4">Order Items</h3>
        <div class="space-y-6">
        @for (item of orderData.orderItems; track item.productId) {
            <div class="flex gap-6 border-b pb-6 last:border-none last:pb-0">
            <img [src]="'/images/products/' + item.productPhoto" 
                class="w-24 h-24 object-cover rounded-2xl">
            <div class="flex-1">
                <h4 class="font-semibold">{{ item.productName }}</h4>
                <p class="text-purple-600">{{ item.unitPrice | currency:'HKD' }} × {{ item.quantity }}</p>
            </div>
            <div class="text-right font-semibold">
                {{ (item.unitPrice * item.quantity) | currency:'HKD' }}
            </div>
            </div>
        }
        </div>

        <!-- Total -->
        <div class="mt-10 pt-8 border-t flex justify-between items-center text-xl">
        <span class="font-semibold">Total Price</span>
        <span class="font-bold text-purple-700">
            {{ orderData.totalAmount | currency:'HKD' }}
        </span>
        </div>
    </div>
    </div>
} @else if (isLoading) {
  <p>Loading Order...</p>
} @else {
  <p>No Order is found</p>
}
